{% extends "base.html" %}
{% block title %} "Create Assignment" {% endblock %}
{% block content %}
<form method="post">
    <li><input type="text" name="name" placeholder="Assignment Name"/></li>
    <li><input type="date" name="deadline" placeholder="Choose Deadline"/></li>
    <li><input type="text" name="moduleC" placeholder="Enter the Module Code"></li>
    <li><input type="text" name="comments" placeholder="Enter any Comments"></li>
    <li><input type = "submit" name="submit"></li>
</form>
{% endblock %}